@import url(https://fonts.googleapis.com/css?family=Oswald);

.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    font-family: 'Oswald';
  }
  
  
  .topnav a:hover {
    background-color: #A3ACB3;
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #F8CD02;
    color: white;
  }

  .aesborder {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
  }

  .aesborder::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid transparent;
    border-top-color: #F8CD02;
    border-right-color: #F8CD02;
    border-bottom-color: #980611;
    border-left-color: #980611;
    pointer-events: none;
  }
  
  body {
    background-image: url(updated\ porsche\ background.jpg);
    color:#f2f2f2;
    background-size: cover;
  }

  p {
    border: 3px solid #546A78;
    padding: 10px 10px;
    display: inline-block;
    margin-left: 575px;
    font-size: 19px;
    bottom: 20px;
    font-family: 'Oswald';
  }

  h1 {
    font-size: 43px;
    margin-left: 775px;
    margin-top: 100px;
    font-family: 'Oswald';

  }

  .img1 {
    width: 40%;
    position: absolute;
    left: 40px;
    top: 210px;
  }